NEXT_PUBLIC_ENV=
SERVER_PORT=
DB_HOST=
DEV_DB_NAME=
DEV_DB_USERNAME=
DEV_DB_PASSWORD=
DEV_DB_PORT=
DEV_GOOGLE_CLIENT_ID=
DEV_GOOGLE_CLIENT_SECRET=
DEV_NEXTAUTH_SECRET=
DEV_JWT_SECRET=

PROD_DB_HOST=
PROD_DB_NAME=
PROD_DB_USERNAME=
PROD_DB_PASSWORD=
PROD_DB_PORT=
PROD_GOOGLE_CLIENT_ID=
PROD_GOOGLE_CLIENT_SECRET=
PROD_NEXTAUTH_SECRET=
# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=